body {
    background-color: #2f3136;
    color: #fff;
    font-family: 'product sans';
  }
  
  #quiz {
    background-color: #36393f;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  #quiz h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  #quiz p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  #quiz li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    list-style: none;
  }
  
  #quiz label {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #7289da;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #quiz label:hover {
    background-color: #677bc4;
  }
  
  #quiz input[type="radio"] {
    display: none;
  }
  
  #quiz input[type="radio"]:checked + label {
    background-color: #4e5d94;
  }

  
  #submit-btn:hover {
    background-color: #677bc4;
  }
  
  #results {
    background-color: #36393f;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  #results h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  #results p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  #submit{
    display: block;
    margin-top: 1rem;
    padding: 20px 20px;
    background-color: #7289da;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  #submit:hover {
    background-color: #677bc4;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  