/*Default things*/
body {
    margin: 0;
    font-family: 'product sans';
    text-align: center;
}

.webx {
    background-color: rgb(110, 233, 255);
    width: max-content;
    height: max-content;
    padding: 20px;
    z-index: 10;
    position: absolute;
    top: 85%;
    left: 90%;
    border-radius: 10px;
    text-align: center;
}

.webx h1 {
    font-size: 20px;
}

.webx h2 {
    font-size: 10px;
}



/*trial*/
