* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'product sans';
    cursor: default;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,rgb(145, 252, 145),rgb(177, 177, 255));
}

body.light {
    background: linear-gradient(45deg,rgb(0, 49, 30),rgb(0, 38, 66));
}

.container {
    position: relative;
    min-width: 300px;
    min-height: 400px;
    background:  rgba(0, 0, 0, 0.07);
    padding: 40px 30px 30px;
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.08) ;   
}

body.light .container {
    background: rgba(0, 0, 0, 0.07);
}

.calculator {
    position: relative;
    display: grid;
}

.calculator .value {
    position: relative;
    grid-column: span 4;
    height: 100px;
    width: 100%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.07);
    margin-bottom: 10px;
    text-align: right;
    border-radius: 10px;
    padding: 10px;
    font-size: 2em;
    border: 5px solid rgba(0, 0, 0, 0.08) ;   
}
.calculator span {
    position: relative;
    display: grid;
    place-items: center;
    width: 80px;
    height: 80px;
    color: #fff;
    background:  rgba(0, 0, 0, 0.07);
    margin: 8px;
    font-weight: 400;
    user-select: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.calculator span:hover{
    background:  rgba(49, 44, 44, 0.04);
    border-radius: 50px;
}
body.light .calculator span{
    background: rgb(252, 192, 81);
}
body.light .calculator span:hover{
    background: rgb(255, 184, 52);
}
.calculator span i {
    position: relative;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
}

body.light .calculator span i {
    color: #333;
}

body.light .calculator span.clear i,
body.light .calculator span.equal i {
    color: #fff;
}

body.light .calculator .clear,
.calculator .clear {
    grid-column: span 2;
    width: 180px;
    background: rgb(252, 74, 74);
}
.calculator .clear:hover{
    background: rgb(251, 14, 14);
}
body.light .calculator .clear:hover{
    background: rgb(251, 14, 14);
}
.calculator .plus {
    grid-row: span 2;
    height: 180px;
}

body.light .calculator .equal,
.calculator .equal {
    grid-column: span 2;
    width: 180px;
    background: #44a9fb;
}
.calculator .equal:hover{
    background: #1591f7;
}
body.light .calculator .equal:hover{
    background: #1591f7;
}

.btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    background:  rgba(0, 0, 0, 0.07);
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background:  rgba(0, 0, 0, 0.04);
    border-radius: 50px;
}

body.light .btn:hover {
    border-radius: 50px;
}

body.light .btn {
    background: rgb(252, 192, 81);
}

.btn span {
    display: none;
}

.btn span:nth-child(1) {
    display: block;
}

body.light .btn span:nth-child(1) {
    display: none;
}

body.light .btn span:nth-child(2) {
    display: block;
}



.value {
    font-size: 50px;
}
body.light .value{
    color: #fff;
}
.simble {
    position: absolute;
    top: 20px;
    left: 200px;
    width: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simble strong {
    display: none;
}

.simble strong:nth-child(1) {
    display: block;
}

body.light .simble strong:nth-child(1) {
    display: none;
}

body.light .simble strong:nth-child(2) {
    display: block;
}

.simble .tittle {
    color: #fafafa;
    left: 200px;
}

body.light .simble .tittle {
    color: black;

}

.simble .home {
    position: absolute;
    top: 500px;
    left: -110px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 30px;
    padding: 10px 30px;
    transition: 0.5s;
    border-radius: 10px;
}

body.light .simble .home {
    color: black;
    border: 2px solid black;

}

.simble .home:hover {
    letter-spacing: 0.25em;
    background-color: lightgreen;
    border-radius: 50px;
    box-shadow: 0 0 20px var(--clr);
    font-weight: bold;
    font-style: italic;
    color: black;
}

body.light .home:hover {
    background-color: magenta;
    box-shadow: 0 0 20px magenta;
}

.simble .contact {
    position: absolute;
    top: 590px;
    left: -110px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 30px;
    transition: 0.5s;
    padding: 10px 30px;
    border-radius: 10px;

}

body.light .simble .contact {
    color: black;
    border: 2px solid black;

}

.simble .contact:hover {
    letter-spacing: 0.25em;
    background-color: aqua;
    border-radius: 50px;
    box-shadow: 0 0 20px var(--clra);
    font-weight: bold;
    font-style: italic;
    color: black;
}

body.light .contact:hover {
    background-color: chocolate;
    box-shadow: 0 0 20px chocolate;
}

.simble span :active {
    filter: brightness(10.5);
}
.img{
    transition: 0.2s;
    text-align: center;
}
.img .imgone{
   width: 290px;
   height: 90px;
   position: absolute;
   left: 2%;
   top: 2%;
 }
 .img .txt1{
    position: absolute;
    left:21%;
    top: 3%;
    padding: 10px 10px;
    background: #fff;
    border-radius: 5px;
    display: none;
    transition: 0.2s;
    cursor: default;
 }
 .img:hover .txt1{
    display: block;
 }
 .img .txt1:hover{
    letter-spacing: 2px;
 }
 .img .imgtwo{
    width: 290px;
    height: 90px;
    position: absolute;
    left: 2%;
    top: 12%;
  }
  .img .txt2{
    position: absolute;
    left:21%;
    top: 3%;
    padding: 10px 10px;
    background: #fff;
    border-radius: 5px;
    display: none;
    transition: 0.2s;
    cursor: default;
 }
 .img:hover .txt2{
    display: block;
 }
 .img .txt2:hover{
    letter-spacing: 2px;
 }